<h1>Welcome to your personal account.</h1>
    <p>
      Here you can keep record of your finance, cash inflows and outflows.
      To create and edit income or expenses category please click Category button in Main Menu.
      To create and edit your income/expenses click corresponding buttons in Main Menu.
    </p>