<h1>Добро пожаловать в личный кабинет</h1>
    <p>
      На данном сайте Вы сможете вести учет Ваших финансовых операций, поступдений и расходования финансовых средств.<br /><br />
        Для создания и редактирования категорий доходов или расходов, воспользуйтесь кнопкой гравного меню "Категории".<br />
        Для создания и редактирования Ваших доходов/расходов воспользуйтесь соответсвущими кнопками главного меню.<br /><br />
      С наилучгими пожеланиями, Администрация.
    </p>