<h1>Hello! Log in or register to start</h1>
<h3>This work compleated by Task:</h3>
    <pre><p>
      Personal income/expense tracking application.

      The requirements for the small website:

      1. Create a simple website using Ruby on Rails framework, latest available version. The purpose of the website is to keep personal incomes and expenses.
      2. Use MySQL or SQLite or Postgres.
      3. Use a modern CSS framework like Twitter Bootstrap or Foundation 4 to make the website look nice without having to invest a lot of time in design.
      4. The website should have the following features:
      a. Multi-user support.
      b. Simple registration/login/logout functionality: use Devise gem.
      c. Add/Edit/Remove expense category. Each category should belong to a given user: categories are not shared between different users.
      d. Add/Edit/Remove income category.
      e. Add/Edit/Remove expense.
      f. Add/Edit/Remove income.
      g. Simple report of all expenses and incomes with the ability to search by category and by date period.
      2. Follow Ruby coding style: https://github.com/bbatsov/ruby-style-guide
      3. Follow Rails coding guide: https://github.com/bbatsov/rails-style-guide
      (Optional, but would be cool to have) Deploy the application on Heroku - a free cloud hosting for Rails.
    </p></pre>